<div class="content-container">
    <mat-toolbar color="primary" class="toolbar" id="toolbar">
            <span class="app-name" id="headerTitel">Order {{order.id}}</span>
              <button mat-icon-button id="addButton" (click)="addProcess()">
                <mat-icon class="action">add</mat-icon>
              </button>
    </mat-toolbar>
<div class="list" cdkDropList
                  #processList="cdkDropList"
                  [cdkDropListData]="order.processes"
                  (cdkDropListDropped)="onDrop($event)">
    <mat-card *ngFor="let process of order.processes" cdkDrag>
        <mat-card-title>Process {{process.id}}</mat-card-title>
          <mat-card-content>
              <div class="circle" [ngStyle]="{'background': process.color}"></div>
        </mat-card-content>
    </mat-card>
<button mat-raised-button id="save" (click)="save();">Save</button>
</div>
</div>